
<section class="ct_banner_bg" style="overflow: hidden;">
    <app-header></app-header>

    <!-- Banner section S -->

    <div class="ct_banner_section">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6"  data-aos="fade-right"
          data-aos-duration="1000">
            <div class="ct_left_banner_img">
              <img src="assets/img/girl.png" alt="" />
              <div class="ct_overlay_img">
                <img src="assets/img/men_tablate.png" alt="" />
                <img src="assets/img/beg.png" alt="" />
                <img src="assets/img/seazer.png" alt="" />
                <img src="assets/img/hslider-blob.webp.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6"  data-aos="fade-left"
          data-aos-duration="1000">
            <div class="ct_section_right_cnt">
              <img src="assets/img/ABC-Scale.png" alt="" />
              <h1 class="ct_fs_60 mb-4">
                An Accredited* PK-4 virtual <br> school with a global Islamic <br> focus.
              </h1>
              <p>
                **Accreditation - We are in the process of global Accreditation. <br>
                If your looking for a non-traditional virtual school with flexible programs you <br> can do safely from home then become part of our learning community <br> today!
              </p>
              <p>
                We provide Academic, Islamic Studies, Quran, Arabic, STEAM and more. <br> Choose the way your student learns best from the variety of our live classes <br> or self paced learning.  TIAG  provides quality instruction, project based- <br> learning, and a school culture you wouldn't find typical for an online school.
              </p>
              <div class="mt-4">
                <a href="#" class="ct_orange_btn ct_ff_Rowdies"
                  >Get Started <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner section E -->
  </section>


  <section class="ct_py_60 ct_why_inroll_bg ct_px_140">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-7 mb-4 mb-xl-0"  data-aos="fade-right"
        data-aos-duration="1000">
          <div class="ct_enroll_section_left">
            <h3 class="ct_fs_46 mb-4">Why Enroll with Us?</h3>
            <p>
              1. Live Classes <br />
              Live classes are offered to students in grades Pre-K to 12
              four days a week. <br> Our students experience a real classroom
              setting collaborated with their teacher and students
            </p>
            <p>
              2. Self Paced <br />
              self-paced learning is offered for grades 1-4. students can
              work at their own pace with the <br> guidance of the Learning
              Coach. <br />
              Self-paced students do not attend live classes and are guided
              by their Learning Coach. Teachers <br> offer support when requested
              for further assistance with the course material. <br> Self-paced
              students can enroll in religious studies courses for free.
              <br />
              Self-paced students are welcome to school-wide events, and
              programs. <br />

              Academics <br />
              Our students have access to their digital curriculum accounts,
              from where they have access to <br> their courses. This account is
              what the student <br />
              needs to complete his coursework and assessments. <br />
              Teachers make the utmost effort to ensure that-concepts that
              go against Islamic beliefs are not <br> taught in our lessons. Our
              curriculum is a pre-designed digital platform, therefore
              parents should <br> be aware that the course-ware includes concepts
              that go against Islamic beliefs. Teachers will <br> point out
              before signing homework when the student should take caution
              and at times skip a <br> particular section found in the lesson.
            </p>
            <p>
              3. Annual Testing <br />

              We administer assessments to measure our student's learning.
              We use diagnostic assessments <br> to measure our student's
              learning against their peers.
            </p>

            <ul class="ct_inroll_list"  data-aos="fade-down"
            data-aos-duration="1000">
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_1.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Child Friendly <br>
                        Environment</h4>
                </li>
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_4.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Real-Time<br>
                        Education</h4>
                </li>
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_2.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Well-Built<br>
                        Infrastructure</h4>
                </li>
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_3.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Professional<br>
                        Staff Members</h4>
                </li>
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_3.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Professional<br>
                        Study Material</h4>
                </li>
                <li>
                    <div class="ct_enroll_small_icon">
                        <img src="assets/img/enroll_icon_3.svg" alt="">
                    </div>
                    <h4 class="mb-0 ct_fs_24">Professional<br>
                        Communication</h4>
                </li>
                
            </ul>
            <a href="#" class="ct_orange_btn ct_ff_Rowdies ct_text_transform_unset"  data-aos="fade-down"
            data-aos-duration="1000"
            >Contact us: info@tiaglobal.com  <img src="assets/img/right_arrow.svg" alt=""
          /></a>
          </div>
          
        </div>
        <div class="col-xl-5 mb-4 mb-xl-0"  data-aos="fade-left"
        data-aos-duration="1000">
            <div class="ct_why_inroll_right_img">
               <div class="ct_inroll_img_1">
                <img src="assets/img/enrolll_1.png" alt="">
               </div>
               <div class="ct_inroll_img_2">
                <img src="assets/img/enroll_2.jpg" alt="">
               </div>
               <div class="ct_inroll_img_3">
                <img src="assets/img/enroll_3.jpg" alt="">
               </div>
               <div class="ct_inroll_img_4">
                <img src="assets/img/enrolll_4.png" alt="">
               </div>
                 
            </div>
        </div>
      </div>
    </div>
  </section>



  <section class="ct_about_us_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"  data-aos="fade-right"
            data-aos-duration="1000">
                <p class="ct_orange_text ct_fs_18 mb-0">About Us</p>
                <h2 class="ct_fs_60 text-white">Committed To Fun Filled
                    Education.</h2>
                    <p class="text-white">Everyday Tarbiytul ilm Academy is a private virtual school serving students in preschool to 11th grade living around the world. TIAG  is registered with the California Department of Education and has been fully Accreditation by Cognia with NCA, CASI, NWAC and SACS CASI.
                    </p>
                    <p class="text-white">
                      We offer a comprehensive Academic Curriculum incorporating authentic Islamic Studies, Quran and Arabic instruction. Classes are safely taught by certified live instructors from the comfort and convenience of your home.

                    </p>
                    <p class="text-white">
                      Our newly added Middle and High School program provides instruction for competency in skills needed to successfully complete requirements leading towards a U.S. HS Diploma.
                    </p>
                    <a href="#" class="ct_orange_btn ct_ff_Rowdies"
                    >Get Started <img src="assets/img/right_arrow.svg" alt=""
                  /></a>
            </div>

        </div>

    </div>
   </section>


   <section class="ct_testimonial_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <span class="ct_orange_text ct_fs_18 mb-5 text-center d-block">Testimonial</span>
                <h2 class="ct_fs_46  text-center">What Parents Say</h2>
                <div class="owl-carousel owl-theme ct_testimonial_slider">
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/green_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Consectetur adipiscing elit duis tristique sollicitudin
                                     nibh sit amet commodo.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_1.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Renzo Eike's Mom</h4>
                           </div>
                        </div>  
                    </div>

                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/orange_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/Emerald.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/green_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Consectetur adipiscing elit duis tristique sollicitudin
                                     nibh sit amet commodo.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_1.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Renzo Eike's Mom</h4>
                           </div>
                        </div>  
                    </div>

                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/orange_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/Emerald.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/green_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Consectetur adipiscing elit duis tristique sollicitudin
                                     nibh sit amet commodo.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_1.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Renzo Eike's Mom</h4>
                           </div>
                        </div>  
                    </div>

                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/orange_cloud.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                    <div class="item">
                        <div class="ct_testimonial_cnt">
                           <div class="ct_testimonial_cnt_inner">
                            <img src="assets/img/Emerald.png" alt="">
                            <div class="ct_testimonial_title">
                                 <div class="ct_rating_star">
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                 </div>
                                 <p class="mb-0">Bibendum enim facilisis gravida neque convallis a.
                                    Massa tincidunt dui ut ornare.</p>
                            </div>
                           </div>
                           <div class="ct_client_main_dtl">
                                <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                                <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                           </div>
                        </div>  
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
   </section>


    <!-- footer Section S -->
<app-home-page-footer></app-home-page-footer>
  <!-- footer Section E -->
  <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->